#appended-stories {
    width: 100%;
    @include screen {
        display: flex;
        flex-wrap: wrap;
    }
    @include desktop {
        display: flex;
        flex-wrap: wrap;
    }
}

.articles {
    position: relative;
    width: 100%;
    @include screen {
        width: 50%;
    }
    @include desktop {
        width: 25%;
    }
}

.images {
    width: 100%;
    height: 400px;
}

.abstract {
    position: absolute;
    z-index: 1;
    color: white;
    bottom: 0;
}