*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    background-color: black;
    font-size: 16px;
    font-family: 'OpenSansLight', Verdana, Sans-Serif;
}

.logo-line {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 180px;
    @include screen {
        margin-top: 0;
    }
}

.search-form-inner {
    display: flex;
    color: #efffff;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 100%;
    flex-direction: column;
    cursor: pointer;
    font-family: 'OpenSans', Verdana, Sans-Serif;
    font-weight: 600;
    font-style: normal;
}

.search-form-inner p {
    font-size: 14px;
    font-weight: 300;
}

.active {
    .logo-line {
        margin-top: 0;
    }
    img {
        height: 100px;
        width: auto;
    }
    margin: 50px;
}

header {
    height: 100vh;
    @include screen {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        padding-right: 100px;
    }
    img {
        @include screen {
            height: 140px;
        }
    }
}

.articles-loaded {
    height: 200px;
    width: auto;
}